.header {
grid-area: header;
background-color: aquamarine;
color: black;
}

.nav {
    grid-area: nav;
    background-color: bisque;

}
.grid-container{
    display: grid;
    grid-template-columns: 250px;
    grid-template-areas: 
   " header header"
   "sidebar main"
   "footer footer";
   grid-gap: 10px;
}